##Homework-3
##UCID - nr475

In [7]:
library(readr)
library(dplyr)

In [3]:
setwd("/Users/naveenrowthula/Downloads/R Programming")

In [4]:
IBM=read_csv(file='IBM.csv',col_types = cols())
MSFT=read_csv(file='MSFT.csv',col_types = cols())
GOOG=read_csv(file='GOOG.csv',col_types = cols())
AAPL=read_csv(file='AAPL.csv',col_types = cols())
AMZN=read_csv(file='AMZN.csv',col_types = cols())
FB=read_csv(file='FB.csv',col_types = cols())

ERROR: Error in read_csv(file = "IBM.csv", col_types = cols()): could not find function "read_csv"

In [10]:
Divid=function(x)
{   
    data_set=x[,c(1,5,6)]
    data_set$differnce1=data_set$Close -lag(data_set$Close,1)
    data_set$differnce2=data_set$'Adj Close' -lag(data_set$'Adj Close',1)
    data_set=mutate(data_set,differnce=data_set$differnce1-data_set$differnce2)
    data_set=mutate(data_set,Divid=data_set$differnce*data_set$Close)
    data_set=subset(data_set,(Divid!='0'))
    data_set[,c(1,7)]
}

In [11]:
ibm=Divid(IBM)
msft=Divid(MSFT)
goog=Divid(GOOG)
aapl=Divid(AAPL)
amzn=Divid(AMZN)
fb=Divid(FB)

In [14]:
'IBM'
head(ibm)
'MSFT'
head(msft)
'GOOG'
head(goog)
'AAPL'
head(aapl)
'AMZN'
head(amzn)
'FB'
head(fb)

[1] "IBM"

  Date       Divid
1 2018-01-03 80.616100
2 2018-01-04 62.278430
3 2018-01-05 15.399503
4 2018-01-08 19.219005
5 2018-01-09  7.079586
6 2018-01-10  6.896873

[1] "MSFT"

  Date       Divid
1 2018-01-03  1.346456
2 2018-01-04  2.579414
3 2018-01-05  3.713328
4 2018-01-08  0.311187
5 2018-01-09 -0.207317
6 2018-01-10 -1.370168

[1] "GOOG"

     Date Divid

[1] "AAPL"

  Date       Divid
1 2018-01-03 -0.01136718
2 2018-01-04  0.31171354
3 2018-01-05  0.77638750
4 2018-01-08 -0.25537917
5 2018-01-09 -0.00784485
6 2018-01-10 -0.01594753

[1] "AMZN"

     Date Divid

[1] "FB"

     Date Divid